<link href="style.css" type="text/css">
<body>
<!-- Latest Events button -->
<p id="modal-button" data-toggle="modal" data-target="#myModal">
    Latest Events
  </p>
  <!-- Modal -->
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="event-modal-label">Upcoming Events</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body"></div> 
        <div class="modal-footer">
          <button type="button" class="chat-form-button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 </body>

  