<head>
  <title>Nan_Wang_CPA6</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatiple" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<!-- create new event -->
<div class="data-form">
  <form action="/events/create" method="POST">
    <h1>Create A Event</h1>
    <div class="form-row">
      <label for="inputTitle">Title </label>
      <input type="text" name="title" id="inputTitle" placeholder="Event Title" autofocus />
    </div>
    <div class="form-row">
      <label for="inputDescription">Description</label>
      <textarea type="text" name="description" id="inputDescription"  required ></textarea>
    </div>
    <div class="form-row">
      <label for="inputLocation">Location </label>
      <input type="text" name="location" id="inputLocation" placeholder="location" autofocus />
    </div>
    <div class="form-row">
      <label for="inputStartDate">Starte Date </label>
      <input type="date" name="startDate" id="inputStartDate" required />
      <label for="inputEndDate">End Date </label>
      <input type="date" name="endDate" id="inputEndDate" required />
    </div>
    <div class="form-row">
      <label for="inputIsOnline">Is Online? </label>
      <select name="isOnline" id="inputIsOnline">
        <option value="false">no</option>
        <option value="true">yes</option>
      </select>
    </div>

    <div class="form-row">
      <label for="inputRegistrationLink">Registration Link </label>
      <input type="text" name="registrationLink" id="inputRegistrationLink"  required />
     
    </div>
    <div class="form-row">
      <label for="organizer">Organizer</label>
      <!-- choose user email from the user database to be the organizer of this event -->
      <select name="organizer" id="organizer" required>
          <% users.forEach(function(user) { %>
            <option value="<%= user._id %>"><%= user.name %>, <%= user.email %></option>

          <% }) %>
      </select>
    </div>
    <button type="submit">Create Event</button>
  </form>
  
</div>
