<!-- 
<link rel="stylesheet" href="style.css" type="text/css">

<body>
    <main>
        <section class="innerBody">
            <h1>Events</h1><br>


      
            <h3>See recent events at <a href="https://www.brandeis.edu/">Brandeis University</a>!</h3>  -->
         <!-- <div id="events-board">
            <div id="content">
                <h3>Comprehensive Cognitive Behavioral Therapy</h3>
                <small>Monday, February 20, 2023, 10 a.m.</small><br>

                <p>Location: Mailman House<br>
                    Sponsor(s): Brandeis Counseling Center</p>
            </div>
            <div id="content">
                <h3>Exhibition: "Becky Behar: Interlaced”</h3>
                <small>Monday, February 20, 2023, 10 a.m.</small><br>

                <p>Location: Epstein<br>
                    Sponsor(s): Women's Studies Research Center</p>
            </div>
        </div> -->
<!-- 
    </section>
    </main>

</body> -->

<head>
    <title>Nan_Wang_CPA5</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiple" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
<main>
    <section class="innerBody">
        <h1>Events</h1>
        <article>
            <h3>See recent events at <a href="https://www.brandeis.edu/">Brandeis University</a>!</h3>
            <br>
            <div id="content">
                <h3>Comprehensive Cognitive Behavioral Therapy</h3>
                <small>Monday, February 20, 2023, 10 a.m.</small><br>

                <p>Location: Mailman House<br>
                    Sponsor(s): Brandeis Counseling Center</p>
            </div>
            <div id="content">
                <h3>Exhibition: "Becky Behar: Interlaced”</h3>
                <small>Monday, February 20, 2023, 10 a.m.</small><br>

                <p>Location: Epstein<br>
                    Sponsor(s): Women's Studies Research Center</p>
            </div>

        </article>

    </section>




</main>
</body>