<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<main>
    
    <section class="innerBody">
        <h1 class="innerBody-title">We Are Proud</h1>

        <article>
            <h3 style="margin-bottom:20px">Students & Alumni of <a href="https://www.brandeis.edu/">Brandeis University</a></h3>
            <p>The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other.></p>
        </article>

    </section>
</main>
</body>