<head>
    <title>Nan_Wang_CPA5</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiple" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>
<body>
<main>
    <section class="innerBody">
        <h1>Jobs</h1>
        <article>
            <h3>Here are the job opportunities!</h3>
            <br>
            <h4 id="title">Data Entry Specialist<br>

            </h4>
            <small>Green Rabbit, 135 Lundquist Drive, Braintree, MA 02184</small>

            <p>
                The Data Entry Specialist is an entry-level position within the Merchandising
                Department at Green Rabbit. As the data entry specialist, you will take ownership
                of the internal sku set-up process and complete functions that contribute to the success
                of all business units. This position plays an extremely important role within the Merchandising
                Department and will be a point of contact for communication across multiple departments.</p>
            <br>

            <h4 id="title">Entry Level Software Developer<br>

            </h4>
            <small>Property Matrix, San Bernardino, CA</small>

            <p>
                As an Entry Level Software Developer, you’ll take part in the design and development of software
                for the current and next generation of Property Matrix as a software engineer. In this role,
                you’ll be developing exciting new features with a team goal of streamlining business operations
                and improving overall user experience.</p>
        </article>

    </section>




</main>
</body>