<head>
    <title>Nan_Wang_CPA6</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiple" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<div class="data-form">
  <form method="POST" action="/jobs/create">

  <div class="form-row">
    <h1>Create New Job</h1>
  </div>
  <div class="form-row">
    <label for="title">Title</label>
    <input type="text" name="title" required>

    <label for="isActive">Active?</label>
    <input type="checkbox" id="isActive" name="isActive" value="true" <% if (job.isActive) { %>checked<% } %> />
    
  </div>
  <div class="form-row">
    <label for="company">Company</label>
    <input type="text" name="company" required>
    <label for="location">Location</label>
    <input type="text" name="location" required>
  </div>

  <div class="form-row">
    <label for="description">Description</label>
    <textarea name="description" required></textarea>
  </div>
  <div class="form-row">
    <label for="requirements">Requirements</label>
    <textarea name="requirements" required></textarea>
  </div>
  <div class="form-row">
    <label for="salary">Salary</label>
    <input type="number" name="salary" required><span>per year</span>
  </div>
  <div class="form-row">
    <label for="contactEmail">Contact Email</label>
    <input type="email" name="contactEmail" required>
    <label for="contactPhone">Contact Phone</label>
    <input type="tel" name="contactPhone" required>
  </div>
  <div class="form-row">
    <label for="postDate">Post Date</label>
    <input type="date" name="postDate" required>
    <label for="deadlineDate">Deadline Date</label>
    <input type="date" name="deadlineDate" required>
  </div>
  <button type="submit">Create Job</button>
</form>
</div>
